package post

import (
	"fmt"
	t "github.com/wiretick/go-htmx/types"
)

templ Index(posts []t.Post) {
	<div>
	for i, p := range posts {
		<div>
			<a href={ templ.URL(fmt.Sprintf("/posts/%d", i)) }>
				<h3>{ p.Title }</h3>
			</a>
		</div>
	}
	</div>
}

templ Show(p t.Post) {
	<div>
		<a href="/posts">Go back</a>
		<h3>{ p.Title }</h3>
		<p>{ p.Body }</p>
	</div>
}
