package post

import (
	t "github.com/wiretick/go-htmx/types"
)

templ Index(data t.PostPage) {
	for _, post := range data.Posts {
		<div>
			<h3>{ post.Title }</h3>
			<p>{ post.Body }</p>
		</div>
		<hr/>
	}
}
